In [69]:
# Importing important libraries
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline
import warnings
warnings.filterwarnings('ignore')
import requests
import openpyxl

In [70]:
bonus_cost_link = 'https://docs.google.com/uc?export=download&id=12xPdp6PEJEJP8qyVaaj7Qey6ZR0AkbVx' # 1 sheet
first_bet_link = 'https://docs.google.com/uc?export=download&id=1_s8Kbv7KgdJlY1eJueW6hKiI2gfAF1PR' # 1 sheet
first_deposit_link = 'https://docs.google.com/uc?export=download&id=18QgUwvY_yQml8bYa21chHS0AlaeAE45N' # 2 sheets
player_activity_link = 'https://docs.google.com/uc?export=download&id=16037oorbl30sMudPRQKNGO5xXg27773a' # 2 sheets
player_details_link = 'https://docs.google.com/uc?export=download&id=1WZ6PBVqSRj77feQHNojp9Q5a5ibCfVJz' # 2 sheets

In [ ]:
# # would give us a response object from which we can take out the file
# bonus_cost_resp = requests.get(link)

In [ ]:
# # let's write the file to a new file (bonus_cost_orig) we created
# open('bonus_cost_orig.xlsx', 'wb').write(bonus_cost_resp.content)
# # Close the file
# open('bonus_cost_orig.xlsx', 'wb').close()

# # w = write, b = binary
# # content = retrive the content in bonus_cost_resp (response object)

In [ ]:
# alternatively, we can use pd.read_excel() to achieve the same results.

bonus_cost_data_orig = pd.read_excel(bonus_cost_link)
print(bonus_cost_data_orig)

        Unnamed: 0     Unnamed: 1           Unnamed: 2  Unnamed: 3  Unnamed: 4
0              NaN  Src_PLAYER_ID        ActivityMonth     Product  BONUS_COST
1              NaN       16051927  2020-06-30 00:00:00     eGaming          50
2              NaN       19309540  2021-02-28 00:00:00     eGaming          40
3              NaN       13176431  2020-01-31 00:00:00     eGaming          15
4              NaN       12405628  2019-02-28 00:00:00  SportsBook          30
...            ...            ...                  ...         ...         ...
207066         NaN       12655588  2020-12-31 00:00:00     eGaming          20
207067         NaN       15199116  2020-03-31 00:00:00     eGaming         100
207068         NaN       18399633  2020-12-31 00:00:00     eGaming          25
207069         NaN       15298566  2020-06-30 00:00:00     eGaming          20
207070         NaN       19696774  2021-03-31 00:00:00     eGaming         125

[207071 rows x 5 columns]

In [ ]:
# similarly, we are going to import the rest of the files
# we, are also converting them into data frames

first_bet_orig = pd.read_excel(first_bet_link)
print(first_bet_orig)

        Unnamed: 0     Unnamed: 1                  Unnamed: 2  \
0              NaN  Src_Player_Id   System_First_Bet_Datetime
1              NaN       15643431         2020-10-09 03:57:29
2              NaN       13593034  2019-09-27 15:03:58.244000
3              NaN       15894194         2021-02-28 02:22:07
4              NaN       13238000         2019-07-08 10:39:45
...            ...            ...                         ...
292781         NaN       18703784                         NaN
292782         NaN       12340331         2020-05-19 07:44:29
292783         NaN       12343435         2019-01-04 14:08:42
292784         NaN       12358643  2019-01-08 12:22:11.442000
292785         NaN       12360437                         NaN

                      Unnamed: 3                      Unnamed: 4  \
0       System_First_BetSlip_Amt  System_First_Bet_Product_Group
1                            2.5                         eGaming
2                             10                          Sports
3                              2                         eGaming
4                            0.4                         eGaming
...                          ...                             ...
292781                       NaN                             NaN
292782                       0.8                         eGaming
292783                         1                         eGaming
292784                         1                          Sports
292785                       NaN                             NaN

                      Unnamed: 5                Unnamed: 6  \
0       System_First_Bet_Product  System_First_Bet_Channel
1                Non Table Games                    Online
2                       Prematch                    Online
3                Non Table Games                    Online
4                Non Table Games                    Online
...                          ...                       ...
292781                       NaN                       NaN
292782           Non Table Games                    Online
292783           Non Table Games                    Online
292784                  Prematch                    Online
292785                       NaN                       NaN

                       Unnamed: 7
0       System_First_Bet_Platform
1                          Mobile
2                          Mobile
3                             Web
4                          Mobile
...                           ...
292781                        NaN
292782                        Web
292783                     Mobile
292784                     Mobile
292785                        NaN

[292786 rows x 8 columns]

In [ ]:
first_deposit_orig = pd.read_excel(first_deposit_link, sheet_name = "Backend Data" )
first_deposit_data_dict = pd.read_excel(first_deposit_link, sheet_name = "Data Dictionary")
print(first_deposit_orig)

        Unnamed: 0     Unnamed: 1           Unnamed: 2             Unnamed: 3  \
0              NaN  Src_Player_Id   First_Deposit_Date  First_Deposit_Channel
1              NaN       13472812                  NaN                    NaN
2              NaN       13331793                  NaN                    NaN
3              NaN       13116242                  NaN                    NaN
4              NaN       12689016                  NaN                    NaN
...            ...            ...                  ...                    ...
292781         NaN       20698616  2021-06-30 14:35:08                 Online
292782         NaN       20353607                  NaN                    NaN
292783         NaN       12835955  2019-04-18 18:53:14                 Online
292784         NaN       20399631  2021-06-17 09:11:35                 Online
292785         NaN       17870051  2020-11-19 02:55:00                 Online

                  Unnamed: 4            Unnamed: 5
0       First_Deposit_Method  First_Deposit_Amount
1                        NaN                   NaN
2                        NaN                   NaN
3                        NaN                   NaN
4                        NaN                   NaN
...                      ...                   ...
292781                    MC                    50
292782                   NaN                   NaN
292783                  VISA                   100
292784                  VISA                    50
292785                  VISA                    50

[292786 rows x 6 columns]

In [ ]:
player_details_orig = pd.read_excel(player_details_link, sheet_name = "Backend Data")
player_details_data_dict_orig = pd.read_excel(player_details_link, sheet_name = "Data Dictionary")
print(player_details_orig)

        Unnamed: 0     Unnamed: 1           Unnamed: 2           Unnamed: 3  \
0              NaN  Src_Player_Id          Signup_Date  acquisition_channel
1              NaN       12584958  2019-02-23 17:24:49                  NaN
2              NaN       12356925  2019-01-07 15:57:11                  NaN
3              NaN       12500831  2019-02-10 08:31:13                  NaN
4              NaN       12660009  2019-03-12 09:42:53                  NaN
...            ...            ...                  ...                  ...
292781         NaN       18898864  2021-01-26 12:05:22            Affiliate
292782         NaN       19575899  2021-03-19 22:24:53            Affiliate
292783         NaN       20345090  2021-05-27 10:11:50            Affiliate
292784         NaN       19360675  2021-03-03 00:01:49            Affiliate
292785         NaN       19341910  2021-03-01 13:19:53            Affiliate

               Unnamed: 4 Unnamed: 5           Unnamed: 6          Unnamed: 7
0       src_advertiser_id     Gender        Date_Of_Birth  Internal_Player_YN
1                  999999         M   1991-08-05 00:00:00                  N
2                  999999         M   1993-09-09 00:00:00                  N
3                  999999         M   1971-10-15 00:00:00                  N
4                  999999         M   2000-12-15 00:00:00                  N
...                   ...        ...                  ...                 ...
292781             130850         F   1993-10-17 00:00:00                  N
292782             130850         M   1988-11-20 00:00:00                  N
292783             130850         M   1982-06-11 00:00:00                  N
292784             130850         F   2000-06-16 00:00:00                  N
292785             130850         M   2001-04-25 00:00:00                  N

[292786 rows x 8 columns]

In [90]:
player_activity_orig = pd.read_excel(player_activity_link)
# this file is greater than 51 mbs and you usually can't download it without clicking download anyway
# so that might be causing some problems

In [71]:
pa_resc = requests.get(player_activity_link)

open('player_activity.xlsx', 'wb').write(pa_resc.content)
open('player_activity.xlsx', 'wb').close()

# w = write, b = binary
# content = retrive the content in bonus_cost_resp (response object)

In [83]:
# prompt: get the file in player_activity_link



player_activity_orig = pd.read_excel(player_activity_link, sheet_name = "Backend Data")

In [88]:
player_activity_dict_orig = pd.read_excel(player_activity_link, sheet_name = "Data Dictionary")

In [89]:
print(player_activity_dict_orig)

    Unnamed: 0                                         Unnamed: 1  \
0          NaN                                        Column Name
1          NaN                                      src_player_id
2          NaN                                      ActivityMonth
3          NaN                                            Product
4          NaN                                         SubProduct
5          NaN                                   ActivePlayerDays
6          NaN                                         Bet_Amount
7          NaN                                         Win_Amount
8          NaN                                          Gross_Win
9          NaN                                      Net_Gross_Win
10         NaN  Net Gross Revenue (NGR) = Net Gross Win - Bonu...

                                           Unnamed: 2
0                                         Description
1                            Unique Player Identifier
2   Month where a player was active (placed a bet)...
3   Product on which the player is betting. Sports...
4   Livebook: Live betting which is available only...
5           #Days the player is active (placed a bet)
6                     Bet amount placed by the player
7                            Amount won by the player
8   = Bet amount - Win Amount [Positive Gross Win ...
9                   = Bet amount - Win Amount - Taxes
10                                                NaN

In [85]:
print(player_activity_orig)

        Unnamed: 0     Unnamed: 1           Unnamed: 2  Unnamed: 3  \
0              NaN  src_player_id        ActivityMonth     Product
1              NaN       16585649  2020-08-31 00:00:00  SportsBook
2              NaN       12845036  2019-05-31 00:00:00  SportsBook
3              NaN       12720869  2021-06-30 00:00:00     eGaming
4              NaN       18979743  2021-02-28 00:00:00     eGaming
...            ...            ...                  ...         ...
860226         NaN       13439064  2019-09-30 00:00:00  SportsBook
860227         NaN       16005291  2020-07-31 00:00:00     eGaming
860228         NaN       15816105  2021-05-31 00:00:00     eGaming
860229         NaN       13435803  2020-12-31 00:00:00     eGaming
860230         NaN       12742712  2021-05-31 00:00:00  SportsBook

             Unnamed: 4        Unnamed: 5  Unnamed: 6  Unnamed: 7 Unnamed: 8  \
0            SubProduct  ActivePlayerDays  Bet_Amount  Win_Amount  Gross_Win
1              Livebook                 1         500           0        500
2              Prematch                28     1229.48     1177.85      41.63
3       Non Table Games                 1        73.4        46.2       27.2
4       Non Table Games                 1          52        21.7       30.3
...                 ...               ...         ...         ...        ...
860226         Livebook                 2         255           0        255
860227  Non Table Games                 4         123       53.55    68.9451
860228      Table Games                 1         125          50         75
860229  Non Table Games                 1        31.4       11.45      19.95
860230         Prematch                 3       278.4      559.73    -281.33

           Unnamed: 9
0       Net_Gross_Win
1                 420
2             34.9692
3              22.848
4              25.452
...               ...
860226          214.2
860227      57.913884
860228             63
860229         16.758
860230      -236.3172

[860231 rows x 10 columns]